body {
    font-family: 'Nunito';
    font-size: 22px;
    margin: 0;
    padding: 0;
    /* background-image: url("https://picsum.photos/id/237/200/300"); */
}

h1 {
    color: blue;
}

h3 {
    color: coral;
    font-size: 30px;
    font-weight: bold;
}

p {
    font-weight: bold;
    text-indent: 50px;
}

table {
    text-align: center;
    line-height: 200%;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-collapse: collapse;
}

footer strong {
    text-decoration: underline wavy;
}

mark {
    border-radius: 5px;
}
div#main-content {
    background-color: #CACACA;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row-reverse;
}

a:hover { /* pseudoklasa :hover zmienia właściwości elementu dopiero po najechaniu na niego wskaźnikiem myszy*/
    color: violet;
}
a {
    color: aqua;
    font-size: 30px;
    font-weight: 900;
}


table tr:first-child {/*pseudoklasa tr:first-child pozwala na stylowanie wyglądu pierwszego dziecka elementu, w tym przypadku wiersza tabeli*/
    color: aqua;
}

span {
    display: block;
}
#articles {
    flex-grow: 1;
 }
#skills {
    flex-grow: 1;
    align-self: center;
}
header {
    display: flex;
    justify-content: space-between;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;

}
/* header a {
    float: right;
}
header h1 {
    float: left;
}

#articles {
    padding: 30px;
    padding-right: 100px;
    float: left;
} */








/* body {
    color: green;
} */

/* h3 {
    color: red;

}

p {
    color: gold;
} */

/* .first-class {
    color:red;
}
h1 {
    color: green !important;
}

.third-class {
    color: coral;
}

#first-id {
    color: blue;
} */